html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contentPopup-Flex {
  display:flex;


}

.contentPopup-Heading {
  font-size: 20px;
  font-weight:500;

}

.contentPopup-Heading::first-letter
 {
  text-transform: uppercase;
}

.contentPopup-Pin {
  width: 4rem;
  height: 4rem;
}